<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tipos</title>
</head>
<body>


<table border="1">

  <tr>
     <label>Tipo<input type="text" id="Name" name="Name" />Tipo de curso<input type="text" id="Name2" name="Name"/<label>

    <tr>

    <h1>Listado de cursos</h1>

    <tr>

    <tr>
    <td><strong>Codigo</strong></td>
    <td><strong>Nombre</strong></td>
    </tr>

    <tr>
    <td>A001</td>
    <td>prueba</td>
    </tr>

    <tr>
        <td>A001</td>
        <td>Prueba2</td>
    </tr>
    <bo
</table>

</body>
</html>